body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background-color: rgb(60,60,60);
}

.auth0-lock-badge-bottom {
  display: none;
}

.page-content {
  -moz-transition: padding-left 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: padding-left 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: padding-left 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: padding-left 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.drawer-open {
  padding-left: 200px;
}

.drawer-close {
  padding-left: 0px;
}